@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Satoshi;
  src: url(fonts/Satoshi-Regular.woff);
}

@font-face {
  font-family: Satoshi;
  src: url(fonts/Satoshi-Bold.woff);
  font-weight: bold;
}

@layer base {
  html {
    font-family: Satoshi, system-ui, sans-serif;
  }
}

.link.active {
  color: #eda029;
}

img:hover {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
